body {
  /* background-color: #D2E9E9; */
  /* background: linear-gradient(135deg, #f3e7e9, #e0f1f3); */
  background:linear-gradient(90deg, #ffc0cb, rgba(173, 216, 230));
  /* background-blend-mode: screen; */
}
td,
th {
  padding-left: 100px;
  color: black;
}
div h3 {
  margin-bottom: 0px;
}
div p {
  margin-top: 0px;
}
h1 {
  text-align: center;
  color: #b71375;
}
.fp {
  padding: 0 0 20px 90px;
}
.explore {
  padding: 0 0 18px 70px;
}
img {
  height: 80%;
  width: 100%;
}
    /* td:not(.ignore,.button):hover {
    background-color: #eeeeee;
    color: gray;
    } */
.div_color {
  background-color: black;
  display: inline-block;
  margin-right: 35px;
  width: 300px;
}
.div1 {
  margin-top: 30px;
  color: white;
  /* margin-left: 50px; */
}
.dist {
  margin-left: 50px;
}
.unique {
  margin: 15px 0 23px 0;
}
div a {
  color: white;
}
.button {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px; /* Adjust the value to control the roundness */
}

.button:hover {
  background-color: black;
  color: white;
}

.button1{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 15px; /* Adjust the value to control the roundness */
    border: none; /* Remove the border */
  }
  
  .button1:hover {
    background-color: rgb(16, 81, 102); /* Change to a lighter shade of blue */
  }
  .ignore{
    padding-left: 60px;
  }
  .mov1{
    margin-left: 40px;
  }
  .mov2{
    padding-right: 30px;
  }
  .mov3{
    padding-right: 100px;
  }
  .cPad{
    margin-bottom: 30px;
  }
  td p:hover{
    background-color:rgb(228, 233, 238);
    color: gray;
  }
  .cdDiv{
    margin-top: 50px;
  }